.logo img{
    width: 300px;
    height: 300px;
}
.btnText{
    background-color:#108ee9;
}
.singleText{
    color:#108ee9;
    a{
        color:#108ee9;        
    }
}
.tips{
    position: fixed;
    bottom: 50px;
    color: #ccc;    
}